client/SonidoXML/
client/SonidoXML/dist/
client/SonidoXML/nbproject/
client/vista
/cliente/build/
/cliente/dist/
.*/
build/*
cmake-build-debug/
CMakeFiles/
CMakeCache.txt

client/cmake-build-debug/
client/CMakeLists.txt
client/VistasSDL/.*
client/VistasSDL/cmake-build-debug/
client/VistasSDL/CMakeLists.txt
server/server
generadorMapa/generador
