/SonidoXML/build/
/SonidoXML/dist/
/cliente/build/
/cliente/dist/
.*/
build/*
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
client/VistasSDL/.*
client/VistasSDL/cmake-build-debug/
client/VistasSDL/CMakeLists.txt

